.m-0{
    margin: var(--size-0);
}
.mt-0{
    margin-top: var(--size-0);
}
.mr-0{
    margin-right: var(--size-0);
}
.ml-0{
    margin-left: var(--size-0);
}
.mb-0{
    margin-bottom: var(--size-0);
}

.m-1{
    margin: var(--size-1);
}
.mt-1{
    margin-top: var(--size-1);
}
.mr-1{
    margin-right: var(--size-1);
}
.ml-1{
    margin-left: var(--size-1);
}
.mb-1{
    margin-bottom: var(--size-1);
}

.m-2{
    margin: var(--size-2);
}
.mt-2{
    margin-top: var(--size-2);
}
.mr-2{
    margin-right: var(--size-2);
}
.ml-2{
    margin-left: var(--size-2);
}
.mb-2{
    margin-bottom: var(--size-2);
}

.m-3{
    margin: var(--size-3);
}
.mt-3{
    margin-top: var(--size-3);
}
.mr-3{
    margin-right: var(--size-3);
}
.ml-3{
    margin-left: var(--size-3);
}
.mb-3{
    margin-bottom: var(--size-3);
}

.m-4{
    margin: var(--size-4);
}
.mt-4{
    margin-top: var(--size-4);
}
.mr-4{
    margin-right: var(--size-4);
}
.ml-4{
    margin-left: var(--size-4);
}
.mb-4{
    margin-bottom: var(--size-4);
}

.m-5{
    margin: var(--size-5);
}
.mt-5{
    margin-top: var(--size-5);
}
.mr-5{
    margin-right: var(--size-5);
}
.ml-5{
    margin-left: var(--size-5);
}
.mb-5{
    margin-bottom: var(--size-5);
}

.m-6{
    margin: var(--size-6);
}
.mt-6{
    margin-top: var(--size-6);
}
.mr-6{
    margin-right: var(--size-6);
}
.ml-6{
    margin-left: var(--size-6);
}
.mb-6{
    margin-bottom: var(--size-6);
}

.m-7{
    margin: var(--size-7);
}
.mt-7{
    margin-top: var(--size-7);
}
.mr-7{
    margin-right: var(--size-7);
}
.ml-7{
    margin-left: var(--size-7);
}
.mb-7{
    margin-bottom: var(--size-7);
}

.m-8{
    margin: var(--size-8);
}
.mt-8{
    margin-top: var(--size-8);
}
.mr-8{
    margin-right: var(--size-8);
}
.ml-8{
    margin-left: var(--size-8);
}
.mb-8{
    margin-bottom: var(--size-8);
}

.m-9{
    margin: var(--size-9);
}
.mt-9{
    margin-top: var(--size-9);
}
.mr-9{
    margin-right: var(--size-9);
}
.ml-9{
    margin-left: var(--size-9);
}
.mb-9{
    margin-bottom: var(--size-9);
}

.m-10{
    margin: var(--size-10);
}
.mt-10{
    margin-top: var(--size-10);
}
.mr-10{
    margin-right: var(--size-10);
}
.ml-10{
    margin-left: var(--size-10);
}
.mb-10{
    margin-bottom: var(--size-10);
}

.m-11{
    margin: var(--size-11);
}
.mt-11{
    margin-top: var(--size-11);
}
.mr-11{
    margin-right: var(--size-11);
}
.ml-11{
    margin-left: var(--size-11);
}
.mb-11{
    margin-bottom: var(--size-11);
}

.m-12{
    margin: var(--size-12);
}
.mt-12{
    margin-top: var(--size-12);
}
.mr-12{
    margin-right: var(--size-12);
}
.ml-12{
    margin-left: var(--size-12);
}
.mb-12{
    margin-bottom: var(--size-12);
}

.m-13{
    margin: var(--size-13);
}
.mt-13{
    margin-top: var(--size-13);
}
.mr-13{
    margin-right: var(--size-13);
}
.ml-13{
    margin-left: var(--size-13);
}
.mb-13{
    margin-bottom: var(--size-13);
}

.m-14{
    margin: var(--size-14);
}
.mt-14{
    margin-top: var(--size-14);
}
.mr-14{
    margin-right: var(--size-14);
}
.ml-14{
    margin-left: var(--size-14);
}
.mb-14{
    margin-bottom: var(--size-14);
}